/* 基本の設定
 -------------------------------------------- */
html {
  font-size: 62.5%
}

body {
  background: #e9edef;
  font-size: 1.6rem;
  font-family: Verdana, sans-serif;
	line-height: 2;
	margin: 0;
	padding: 0;
}

div, header, main, footer { display: block; }

h1,h2 {
  font-family: Verdana, sans-serif;

}

/* メインエリア
 -------------------------------------------- */
 main {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 1rem 0 5rem;
	color: #114046;
}

main h1 {
  color: #0061b1;  
	text-align: center;
}

/* フッター
 -------------------------------------------- */
footer {
	background-color: #e9edef;
	color: #bbcfd4;
	font-family: "Montserrat",sans-serif;
	width: 100%;
  padding: 0.5rem;  
	text-align: center;
}


/* カラムの設定
 -------------------------------------------- */
.row {
	max-width: 930px;
	margin: 0 auto 2.5rem;
}

.container {
  max-width: 930px;
  margin: 0.8rem auto;
  background: #fff;
  border-radius: 0.4rem;
  padding: 1rem 2rem 4rem;
  position: relative;
}

/* 問題文のスタイル */
#question {
  margin-bottom: 1.6rem;
}

/* 選択肢のスタイル */
#choices {
  list-style: none; /* リストにデフォルトで付いている黒マルなどを外す */
  padding: 0;
  margin-bottom: 2.5rem;
}

/* 選択肢一つ一つのスタイル */
#choices > li {
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  padding: 0.8rem;
  margin-bottom: 1.7rem;
  cursor: pointer; 
}

#choices > li:hover {
  background: #f8f8f8;
}

/* 正解した場合の選択肢のスタイル */
#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

/* 正解だったら「〇」と表示する */
#choices > li.correct::after {
  content: ' 　　〇';
}

/* 間違えた場合の場合の選択肢のスタイル */
#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

/* 間違えたら「✖」と表示する */
#choices > li.wrong::after {
  content: ' 　　✖';
}

#answer {
  padding: 0;
  margin-bottom: 2.5rem;
}

/* 回答後の「次の問題へ」ボタンと「リトライ」ボタンのスタイル */
#btn, #result > a {
  background: #3498db;
  padding: 1rem;
  margin: 5rem, 0, 3rem;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0.4rem 0 #2880b9;
}

/* 回答前の「次の問題へ」ボタンのスタイル */
#btn.disabled {
  background:#ccc;
  box-shadow: 0 0.4rem 0 #bbb;
  opacity: 0.7;
}

/* 正解数を表示する領域のスタイル */
#result {
  position: absolute;
  width: 30rem;
  background: #fef7f6;
  padding: 3rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  top: 0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0.4rem;
  text-align: center;
  transition: 0.4s;
}

/* 正解数の表示を画面外に置いておく */
#result.hidden {
  transform: translateY(-500px);
}

/* 正解数のスタイル */
#score {
  font-size: 2.4rem;
  color: #130d4a;
  font-weight: bold;
}

/* コメントのスタイル */
#comment {
  font-size: 2.8rem;
  color: #e73738;
  font-weight: bold;
}

/* 「リトライ」ボタンのスタイル */
#result > a {
  display: block;
  text-decoration: none;
  margin-bottom: 2.5rem;
}

/* ----------------------
 画面の横幅が599px以下の場合に適用（スマホ用）
 ---------------------- */
 @media screen and (max-width: 599px) {
	.container {
		margin-left: 0; 
		width: auto; 
	}
	.row, #question, #choices, #answer, #btn, #btn.disabled, #result, #result.hidden, #score, #comment {
		padding: 0 0.8rem; 
	}
}


