/* 基本の設定
 -------------------------------------------- */
body {
  background: #e9edef;
  font-size: 16px;
  font-family: Verdana, sans-serif;
	line-height: 2;
	margin: 0;
	padding: 0;
}

div, header, main, footer { display: block; }

h1 {
  font-size: 36px;
  font-family: Verdana, sans-serif;
}

h2 {
  font-size: 24px;
  font-family: Verdana, sans-serif;
}

/* メインエリア
 -------------------------------------------- */
 main {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 10px 0 5px;
	color: #114046;
}

main h1 {
  color: #0061b1;  
	text-align: center;
}

/* フッター
 -------------------------------------------- */
footer {
	background-color: #e9edef;
	color: #bbcfd4;
	font-family: "Montserrat",sans-serif;
	width: 100%;
  padding: 5px;  
	text-align: center;
}


/* カラムの設定
 -------------------------------------------- */
.row {
	max-width: 930px;
	margin: 0 auto 25px;
}



.container {
  max-width: 930px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px 40px;
  position: relative;
}

#image > img{
  width: 352px;
  height: 216px;
}

/* 問題文のスタイル */
#question {
  margin-bottom: 16px;
}

/* 選択肢のスタイル */
#choices {
  list-style: none; /* リストにデフォルトで付いている黒マルなどを外す */
  padding: 0;
  margin-bottom: 25px;
}

/* 選択肢一つ一つのスタイル */
#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 17px;
  cursor: pointer; 
}

#choices > li:hover {
  background: #f8f8f8;
}

/* 正解した場合の選択肢のスタイル */
#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

/* 正解だったら「〇」と表示する */
#choices > li.correct::after {
  content: ' 　　〇';
}

/* 間違えた場合の場合の選択肢のスタイル */
#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

/* 間違えたら「✖」と表示する */
#choices > li.wrong::after {
  content: ' 　　✖';
}

#answer {
  padding: 0;
  margin-bottom: 25px;
  color: #721c24;
}

/* 回答後の「次の問題へ」ボタンと「リトライ」ボタンのスタイル */
#btn, #result > a {
  background: #3498db;
  padding: 10px;
  margin: 50px, 0, 30px;
  border-radius: 0.40px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 0 #2880b9;
}

/* 回答前の「次の問題へ」ボタンのスタイル */
#btn.disabled {
  background:#ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

/* 正解数を表示する領域のスタイル */
#result {
  position: absolute;
  width: 300px;
  background: #fef7f6;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

/* 正解数の表示を画面外に置いておく */
#result.hidden {
  transform: translateY(-500px);
}

/* 正解数のスタイル */
#score {
  font-size: 24px;
  color: #130d4a;
  font-weight: bold;
}

/* コメントのスタイル */
#comment {
  font-size: 28px;
  color: #e73738;
  font-weight: bold;
}

/* 「リトライ」ボタンのスタイル */
#result > a {
  display: block;
  text-decoration: none;
  margin-bottom: 25px;
}

/* ----------------------
 画面の横幅が599px以下の場合に適用（スマホ用）
 ---------------------- */
 @media screen and (max-width: 599px) { 
  
  body {
    line-height: 1.5;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  #image > img {
    max-width: 352px;
    max-height: 216px;
    width: 100vw;
    padding: 0 8px;
  }

	.container {
		margin-left: 0; 
		width: auto; 
	}
	.row, #question, #choices, #answer, #btn, #btn.disabled, #result, #result.hidden, #score, #comment {
		padding: 0 8px; 
	}
}


